POSTGRES_DB=summoner_build_lab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/summoner_build_lab?schema=public

RIOT_API_KEY=RGAPI-2ed47f7d-9ec3-4219-864f-b3edd21938b7
RIOT_REGION=europe
RIOT_PLATFORM=euw1

PORT=3001
CLIENT_URL=http://localhost:8080
DEMO_USER_USERNAME=SummonerCoach
